<h1>{{name}} </h1>
<h2>You have the following items ready for purchase</h2>
{{#each houses}}
<div class="card" style="width: 18rem;">

    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">Price: $ {{price}}</p>
        <a href="/neighborhoods/{{../houses._id}}/houses/{{_id}}" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{{/each}}