<h1>Review a House</h1>

<div class="card" style="width: 18rem;">
    {{#each houses}}
    <div class="card-body">
        <h5 class="card-title">{{address}}</h5>
        <a href="/neighborhoods/{{_id}}/houses/{{_id}}" class="btn btn-warning">See this House</a>
    </div>
</div>
{{/each}}

<a href="/neighborhoods/{{neighborhoods.id}}/houses/new"><button type="button" class="btn btn-warning">Create A New
        House</button></a>

<form action="/neighborhoods/{{houses.id}}/?_method=DELETE" method="POST"><button class='btn btn-warning' type="submit">
        Delete this Neighborhood</button></form>