<h1>{{houses.address}}</h1>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        {{!-- <img src="{{houses.image}}" alt="look"> --}}
        <img class="card-img-top" src="{{houses.image}}" alt="Card image cap">
        <h5 class="card-title"> Does this house give out candy:<br> {{houses.candy}}</h5>
        <h5 class="card-title">Are there streetlights:<br> {{houses.streetlight}}</h5>
        <br>
        <form action="/neighborhoods/{{houses.id}}/houses/{{houses.id}}?_method=DELETE" method="POST">
            <button class='btn btn-warning' type="submit"> Delete this house</button>
        </form>
        <br>
        <a href="{{houses.id}}/edit" class="btn btn-warning">Edit this House</a>
    </div>
</div>